<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Login with Descope</title>
    <meta name="description" content="Descope Login" />
    <meta name="author" content="Descope" />
  </head>

  <body>
    <h1>Login via email</h1>
    <form
      action="{% url 'django_descope:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
      method="post"
    >
      {% csrf_token %} {{ login_form }}
      <button type="submit">Send login email</button>
    </form>
    {% if require_signup %}
    <p>
      Don't have an account?
      <a href="{% url 'django_descope:signup' %}">Sign up here</a>
    </p>
    {% endif %}
  </body>
</html>
