name: Build

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  bnt:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Get changed files
        uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: shell
          filters: |
            py_modified:  
              - added|modified: "./**/*.py"

      - name: Setup Python
        if: ${{ steps.filter.outputs.py_modified == 'true' }}
        uses: actions/setup-python@v4
        with:
          cache: "poetry"

      - name: Install dependencies
        if: ${{ steps.filter.outputs.py_modified == 'true' }}
        run: poetry install

      - name: Black
        if: ${{ steps.filter.outputs.py_modified == 'true' }}
        run: poetry run black --check ${{ steps.filter.outputs.py_modified_files }}

      - name: Run flake8
        if: ${{ steps.filter.outputs.py_modified == 'true' }}
        run: poetry run flake8 ${{ steps.filter.outputs.py_modified_files }}
