name: Python Publish

on:
  release:
    types: [created]

permissions:
  contents: read
  pull-requests: read # to detect changes files

jobs:
  pypi:
    name: Pypi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Build
        run: |
          uv build
      - name: Publish
        run: |
          uv publish --token ${{ secrets.PYPI_TOKEN }}
