name: Python Publish

on:
  release:
    types: [created]

permissions:
  contents: read
  pull-requests: read # to detect changes files

jobs:
  pypi:
    name: Pypi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.9"
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Build
        run: |
          uv build
      - name: Publish
        run: |
          uv publish --token ${{ secrets.PYPI_TOKEN }}
